{
    "openapi": "3.1.0",
    "info": {
        "title": "Torn API",
        "description": "\n * The development of Torn's API v2 is still ongoing.\n * If selections remain unaltered, they will default to the API v1 version.\n * Unlike API v1, API v2 accepts both selections and IDs as path and query parameters.\n * If any discrepancies or errors are found, please submit a [bug report](https://www.torn.com/forums.php#/p=forums&f=19&b=0&a=0) on the Torn Forums.\n * In case you're using bots to check for changes on openapi.json file, make sure to specificy a custom user-agent header - CloudFlare sometimes prevents requests from default user-agents.",
        "version": "6.6.1"
    },
    "servers": [
        {
            "url": "https://api.torn.com/v2",
            "description": "This is the base URL"
        }
    ],
    "paths": {
        "/user/ammo": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your ammo information",
                "description": "Requires minimal key. <br>",
                "operationId": "getMyAmmo",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserAmmoResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/attacks": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your detailed attacks",
                "description": "Requires limited access key. <br>",
                "operationId": "getMyAttacks",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiFiltersIncomingOutgoing"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AttacksResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/attacksfull": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your simplified attacks",
                "description": "Requires limited access key. <br>Returns up to 1,000 rows. <br>",
                "operationId": "getMyAttacksSimplified",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiFiltersIncomingOutgoing"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit1000"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AttacksFullResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/bars": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your bars information",
                "description": "Requires minimal access key. <br>",
                "operationId": "getMyBars",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserBarsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/basic": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your basic profile information",
                "description": "Requires public access key. <br>",
                "operationId": "getMyBasicInformation",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserBasicResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/basic": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get basic profile information for a specific user",
                "description": "Requires public access key. <br>",
                "operationId": "getUserBasicInformation",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id or user discord id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserDiscordPathId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserBasicResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/battlestats": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your battlestats",
                "description": "Requires limited access key. <br>",
                "operationId": "getMyBattlestats",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserBattleStatsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/bounties": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get bounties placed on you",
                "description": "<b>Globally cached selection.</b><br><br>Requires public access key. <br>",
                "operationId": "getMyBounties",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserBountiesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/bounties": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get bounties placed on a specific user",
                "description": "Requires public access key. <br>",
                "operationId": "getUserBounties",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id or user discord id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserDiscordPathId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserBountiesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/calendar": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your calendar events start time",
                "description": "Requires minimal access key. <br>Only available to yourself.",
                "operationId": "getMyCalendarTime",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserCalendarResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/casino": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your casino streak & tokens",
                "description": "Requires limited access key. <br>Only available to yourself.",
                "operationId": "getMyCasinoStreak",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserCasinoResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/competition": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your competition information",
                "description": "Requires public access key.",
                "operationId": "getMyCompetitionInfo",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserCompetitionResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/competition": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get competition information for a specific player",
                "description": "Requires public access key.",
                "operationId": "getUserCompetitionInfo",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id or user discord id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserDiscordPathId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserCompetitionResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/cooldowns": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your cooldowns information",
                "description": "Requires minimal access key. <br>",
                "operationId": "getMyCooldowns",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserCooldownsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{crimeId}/crimes": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your crime statistics",
                "description": "Requires minimal access key. <br>Return the details and statistics about for a specific crime.",
                "operationId": "getMyCrimes",
                "parameters": [
                    {
                        "name": "crimeId",
                        "in": "path",
                        "description": "Crime id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/TornCrimeId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserCrimesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/discord": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your discord information",
                "description": "Requires public key. <br>",
                "operationId": "getMyDiscord",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserDiscordResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/discord": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get discord information for a specific user",
                "description": "Requires public access key. <br>",
                "operationId": "getUserDiscord",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id or user discord id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserDiscordPathId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserDiscordResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/education": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your education information",
                "description": "Requires minimal access key. <br>The response contains a list of complete eduactions and of a current education (if any).",
                "operationId": "getMyEducation",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserEducationResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/enlistedcars": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your enlisted cars",
                "description": "Requires minimal access key. <br>Returns a list of all user enlisted cars.",
                "operationId": "getMyEnlistedCars",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserEnlistedCarsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/equipment": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your equipment & clothing",
                "description": "Requires minimal access key.",
                "operationId": "getMyEquipment",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserEquipmentResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/events": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your events",
                "description": "Requires limited access key. <br> Unfortunately, the 'sort' parameter is not available for this selection.",
                "operationId": "getMyEvents",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiStripTagsFalse"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100Default20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserEventsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/faction": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your faction information",
                "description": "Requires public access key.",
                "operationId": "getMyFaction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserFactionResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/faction": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get faction information for a specific player",
                "description": "Requires public access key.",
                "operationId": "getUserFaction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id or user discord id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserDiscordPathId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserFactionResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/forumfeed": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get updates on your threads and posts",
                "description": "Requires minimal access key. <br>This selection returns data visible in 'Feed' section on forum page. Feed is sorted by timestamp descending. Only a maximum of 100 rows are returned.",
                "operationId": "getMyForumFeed",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumFeedResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/forumfriends": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get updates on your friends' activity",
                "description": "Requires minimal access key. <br>This selection returns data visible in 'Friends' section on forum page. Feed is sorted by timestamp descending. Only a maximum of 100 rows are returned.",
                "operationId": "getMyForumFriendsUpdates",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumFriendsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/forumposts": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your posts",
                "description": "Requires public access key. <br>Returns 20 posts per page.",
                "operationId": "getMyForumPosts",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumPostsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/forumposts": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get posts for a specific player",
                "description": "Requires public access key. <br>Returns 20 posts per page for a specific player.",
                "operationId": "getUserForumPosts",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id or user discord id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserDiscordPathId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumPostsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/forumsubscribedthreads": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get updates on threads you subscribed to",
                "description": "Requires minimal access key. <br>This selection returns data visible in 'Subscribed Threads' section on forum page. Threads are sorted in the same way as on site.",
                "operationId": "getMyForumSubscribedThreads",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumSubscribedThreadsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/forumthreads": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your threads",
                "description": "Requires public access key. <br>Returns 100 threads per page. The field 'new_posts' is also available, indicating the amount of unread posts with a Minimum API key (or higher).",
                "operationId": "getMyForumThreads",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100Default20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumThreadsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/forumthreads": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get threads for a specific player",
                "description": "Requires public access key. <br>Returns 100 threads per page for a specific player. When requesting data for the key owner, a field 'new_posts' is also available, indicating the amount of unread posts. Minimum API key is required for that.",
                "operationId": "getUserForumThreads",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id or user discord id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserDiscordPathId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100Default20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumThreadsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/hof": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your hall of fame rankings",
                "description": "Requires public access key. <br>When requesting selection with Limited, Full or Custom key, battle_stats selection will be populated.",
                "operationId": "getMyHoF",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserHofResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/hof": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get hall of fame rankings for a specific player",
                "description": "Requires public access key. <br>The battle_stats selection will be populated only when requesting selection with Limited, Full or Custom key and for yourself.",
                "operationId": "getUserHoF",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id or user discord id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserDiscordPathId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserHofResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/honors": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your achieved honors",
                "description": "Requires minimal access key. <br>",
                "operationId": "getMyHonors",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserHonorsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/icons": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your icons information",
                "description": "Requires public access key. <br> When requesting data for yourself with 'Custom', 'Limited' or 'Full' access keys, the response will be of type UserIconPrivate, otherwise UserIconPublic.",
                "operationId": "getMyIcons",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserIconsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/icons": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get icons information for a specific player",
                "description": "Requires public access key.<br> When requesting data for yourself with 'Custom', 'Limited' or 'Full' access keys, the response will be of type UserIconPrivate, otherwise UserIconPublic.",
                "operationId": "getUserIcons",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id or user discord id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserDiscordPathId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserIconsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/inventory": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your inventory",
                "description": "<b>Cached selection (1 hour per category).</b><br><br>Requires limited access key. <br>",
                "operationId": "getMyInventory",
                "parameters": [
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Items category",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/TornInventoryItemType"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit250Default20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserInventoryResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/itemmarket": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your item market listings",
                "description": "Requires limited access key. <br>",
                "operationId": "getMyItemMarketListings",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserItemMarketResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/itemmods": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your information about available item mods",
                "description": "Requires minimal access key. <br>",
                "operationId": "getMyItemModsInformation",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserItemModsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/job": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your job information",
                "description": "Requires public access key.",
                "operationId": "getMyJob",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserJobResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/job": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get job information for a specific player",
                "description": "Requires public access key.",
                "operationId": "getUserJob",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id or user discord id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserDiscordPathId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserJobResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/jobpoints": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your jobpoints",
                "description": "Requires minimal access key. <br>",
                "operationId": "getMyJobPoints",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserJobPointsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/jobranks": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your starter job positions",
                "description": "Requires minimal access key. <br>",
                "operationId": "getMyJobRanks",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserJobRanksResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/list": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your friends, enemies or targets list",
                "description": "Requires limited access key. <br>",
                "operationId": "getMyContactsList",
                "parameters": [
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Select list type",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserListEnum"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit50"
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffsetNoDefault"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSortAsc"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserListResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/log": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your logs",
                "description": "Requires full access key. <br> It's possible to pass a list of log ids or a log category id.<br>This selection is standalone and cannot be used together with other selections.",
                "operationId": "getMyLogs",
                "parameters": [
                    {
                        "name": "log",
                        "in": "query",
                        "description": "Log ids, comma separated, e.g. 105,4900,4905",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/LogId"
                            }
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Log category id",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/LogCategoryId"
                        }
                    },
                    {
                        "name": "target",
                        "in": "query",
                        "description": "Get logs where you interacted with a specific player by passing their player ID.",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100Default20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyFull"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserLogsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/medals": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your achieved medals",
                "description": "Requires minimal access key. <br>",
                "operationId": "getMyMedals",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserMedalsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/merits": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your merits",
                "description": "Requires minimal access key. <br>",
                "operationId": "getMyMerits",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserMeritsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/messages": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your messages",
                "description": "Requires limited access key. <br>",
                "operationId": "getMyMessages",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100Default20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserMessagesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/missions": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your current missions information",
                "description": "Requires minimal access key. <br>",
                "operationId": "getMyMissions",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserMissionsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/money": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your current wealth",
                "description": "Requires limited access key. <br>",
                "operationId": "getMyMoney",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserMoneyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/newevents": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your unseen events",
                "description": "Requires limited access key. <br>",
                "operationId": "getMyNewEvents",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiStripTagsFalse"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserNewEventsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/networth": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your networth",
                "description": "Requires limited access key. <br>",
                "operationId": "getMyNetworth",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserNetworthResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Unstable"
            }
        },
        "/user/newmessages": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your unseen messages",
                "description": "Requires limited access key. <br>This selection is cached for 1 hour.",
                "operationId": "getMyNewMessages",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserNewMessagesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/notifications": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your notifications",
                "description": "Requires minimal access key. <br>",
                "operationId": "getMyNotifications",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserNotificationsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/organizedcrime": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your current ongoing organized crime",
                "description": "Requires minimal access key. <br>",
                "operationId": "getMyOrganizedCrime",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserOrganizedCrimeResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/organizedcrimes": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your available slots for organized crimes with status 'Recruiting'",
                "description": "Requires minimal access key. <br>Unlike 'faction' -> 'crimes', this selection only shows empty slots, and only for crimes with the 'Recruiting' status.",
                "operationId": "getMyAvailableOrganizedCrimes",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserOrganizedCrimesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/perks": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your current perks",
                "description": "Requires minimal access key. <br>",
                "operationId": "getMyPerks",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserPerksResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/personalstats": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your personal stats",
                "description": "Requires public access key. <br>\n * UserPersonalStatsFull is returned only when this selection is requested with Limited, Full or Custom key access key.\n * UserPersonalStatsFullPublic is returned when the requested category is 'all'.\n * UserPersonalStatsPopular is returned when the requested category is 'popular'. Please try to use UserPersonalStatsPopular over UserPersonalStatsFullPublic wherever possible in order to reduce the server load.\n * Otherwise, UserPersonalStatsCategory is returned for the matched category.\n * Historical stats can be fetched via 'stat' query parameter. It's only possible to pass up to 10 historical stats at once (the rest is trimmed). When requesting historical stats the response will be of type UserPersonalStatsHistoric.\n * Use 'timestamp' query parameter to get historical stats at the certain point in time. It's possible some historical stats didn't exist at the given timestamp, and for such stats you will not receive anything back.",
                "operationId": "getMyPersonalStats",
                "parameters": [
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Stats category. Required unless requesting specific stats via 'stat' query parameter",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PersonalStatsCategoryEnum"
                        }
                    },
                    {
                        "name": "stat",
                        "in": "query",
                        "description": "Stat names (10 maximum). Used to fetch historical stat values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/PersonalStatsStatName"
                            }
                        }
                    },
                    {
                        "name": "timestamp",
                        "in": "query",
                        "description": "Returns stats until this timestamp (converted to nearest date).",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserPersonalStatsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/personalstats": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get a player's personal stats",
                "description": "Requires public access key. <br>\n *  UserPersonalStatsFull is returned only when this selection is requested for the key owner with Limited, Full or Custom key.\n *  UserPersonalStatsFullPublic is returned when the requested category is 'all'.\n *  UserPersonalStatsPopular is returned when the requested category is 'popular'. Please try to use UserPersonalStatsPopular over UserPersonalStatsFullPublic wherever possible in order to reduce the server load.\n *  Otherwise, UserPersonalStatsCategory is returned for the matched category.\n *  It's possible to request specific stats via 'stat' parameter. In this case the response will vary depending on the stats requested. Private stats are still available only to the key owner (with Limited or higher key).\n *  Additionally, historical stats can also be fetched via 'stat' query parameter, but 'timestamp' parameter must be provided as well. It's only possible to pass up to 10 historical stats at once (the rest is trimmed). When requesting historical stats the response will be of type UserPersonalStatsHistoric.",
                "operationId": "getUserPersonalStats",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id or user discord id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserDiscordPathId"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PersonalStatsCategoryEnum"
                        }
                    },
                    {
                        "name": "stat",
                        "in": "query",
                        "description": "Stat names (10 maximum). Used to fetch historical stat values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/PersonalStatsStatName"
                            }
                        }
                    },
                    {
                        "name": "timestamp",
                        "in": "query",
                        "description": "Returns stats until this timestamp (converted to nearest date).",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserPersonalStatsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/profile": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your own profile",
                "description": "Requires public access key.",
                "operationId": "getMyProfile",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
[...]
